  <div class="container">
    <div data-aos="fade-up" class="row mt-1">
      <div  class="col-xs-12 col-md-4">
        <mat-card [style.min-height.px]="380" [style.padding-top.rem]="3">
          <img class="photo" src="assets/photo.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <div style="text-align: center;">
              <h1>Sr. FullStack Angular Developer</h1>
              <h2>Carlos Andrés Bermúdez Torres</h2>
              <h3>Medellín, Colombia</h3>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-xs-12 col-md-8">
        <mat-card>
          <mat-card-content>
            <div class="row bottom-xs gap-1 mb-2">
              <img class="icon-1" src="assets/icons8-angular-144.png">
              <h1>Angular Framework</h1>
            </div>
            <div style="padding-top:1rem; height: 300px;">
              <mat-carousel [proportion]="40" [hideArrows]="false" [interval]="4000" [useMouseWheel]="true" [pauseOnHover]="false">
                <mat-carousel-slide [overlayColor]="'FFFFF'">
                  <div class="row around-xs">
                    <div class="col-xs-3">
                      <div class="row gap-1 middle-xs flex-column">
                        <img class="icon-1" src="assets/icons8-module-64.png" >
                        <h3>Modules</h3>
                      </div>
                    </div>
                    <div class="col-xs-3">
                      <div class="row gap-1 middle-xs flex-column">
                        <img class="icon-1" src="assets/icons8-puzzle-64.png" >
                        <h3>Components</h3>
                      </div>
                    </div>
                    <div class="col-xs-3">
                      <div class="row gap-1 middle-xs flex-column">
                        <img class="icon-1" src="assets/icons8-code-tag.png" >
                        <h3>Directives</h3>
                      </div>
                    </div>
                  </div>

                  <div class="row around-xs mt-2">
                    <div class="col-xs-3">
                      <div class="row gap-1 middle-xs flex-column">
                        <img class="icon-1" src="assets/icons8-api-64.png" >
                        <h3>Services</h3>
                      </div>
                    </div>

                    <div class="col-xs-3">
                      <div class="row gap-1 middle-xs flex-column">
                        <img class="icon-1" src="assets/icons8-pipe-64.png" >
                        <h3>Pipes</h3>
                      </div>
                    </div>
                    <div class="col-xs-3">
                      <div class="row gap-1 middle-xs flex-column">
                        <img class="icon-1" src="assets/icons8-protect-64.png" >
                        <h3>Guards</h3>
                      </div>
                    </div>
                  </div>
                </mat-carousel-slide>

                <mat-carousel-slide [overlayColor]="'FFFFF'">
                  <div class="row around-xs">
                    <div class="col-xs-3">
                      <div class="row gap-1 middle-xs flex-column">
                        <img class="icon-1" src="assets/icons8-fuse-symbol-64.png" >
                        <h3>Interceptors</h3>
                      </div>
                    </div>
                    <div class="col-xs-3">
                      <div class="row gap-1 middle-xs flex-column">
                        <img class="icon-1"  src="assets/icons8-route-64.png" >
                        <h3>Routing</h3>
                      </div>
                    </div>
                    <div class="col-xs-3">
                      <div class="row gap-1 middle-xs flex-column">
                        <img class="icon-1" src="assets/icons8-npm-96.png" >
                        <h3>NPM</h3>
                      </div>
                    </div>
                  </div>
                  <div class="row around-xs mt-2">
                    <div class="col-xs-3">
                      <div class="row gap-1 middle-xs flex-column">
                        <img class="icon-1" src="assets/icons8-typescript-96.png" >
                        <h3>TypeScript</h3>
                      </div>
                    </div>
                    <div class="col-xs-3">
                      <div class="row gap-1 middle-xs flex-column">
                        <img class="icon-1" src="assets/icons8-html-64.png" >
                        <h3>HTML 5</h3>
                      </div>
                    </div>
                    <div class="col-xs-3">
                      <div class="row gap-1 middle-xs flex-column">
                        <img class="icon-1" src="assets/icons8-css-64.png" >
                        <h3>CSS3, SASS & LESS</h3>
                      </div>
                    </div>
                  </div>
                </mat-carousel-slide>
              </mat-carousel>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

    </div>

    <div data-aos="fade-down"  class="row mt-1">
      <div class="col-xs-12 col-md-3 ">
        <mat-card [style.height.px]="150">
          <mat-card-content>
            <div class="row gap-1 mb-2 center-xs pt-3">
              <img [style.width.px]="160" class="icon-1" src="assets/karma.png">
            </div>
          </mat-card-content>

        </mat-card>
      </div>
      <div class="col-xs-12 col-md-3">
        <mat-card [style.height.px]="150">
          <mat-card-content>
            <div class="row flex-column middle-xs pt-1 between-xs mb-2 center-xs">
              <img class="icon-1" src="assets/material.png">
              <h1 class="pt-1">Material</h1>
            </div>
          </mat-card-content>

        </mat-card>
      </div>

      <div class="col-xs-12 col-md-3">
        <mat-card [style.height.px]="150">
          <mat-card-content>
            <div class="row flex-column middle-xs pt-1 between-xs mb-2 center-xs">
              <img [style.width.px]="" class="icon-1" src="assets/boostrap.png">
              <h1 class="pt-1">Bootstrap</h1>
            </div>
          </mat-card-content>

        </mat-card>
      </div>

      <div class="col-xs-12 col-md-3">
        <mat-card [style.height.px]="150">
          <mat-card-content>
            <div class="flex-column middle-xs pt-1 between-xs mb-2 center-xs">
              <img [style.width.px]="" class="icon-1" src="assets/font_awesome_logo.png">
              <h1 class="pt-1">Fontawesome</h1>
            </div>
          </mat-card-content>

        </mat-card>
      </div>
    </div>

    <div data-aos="fade-down"  class="row mt-1">
      <div class="col-xs-12 col-md-3">
        <mat-card [style.height.px]="150">
          <mat-card-content>
            <div class="flex-column middle-xs pt-1 between-xs mb-2 center-xs">
              <img [style.width.px]="" class="icon-1" src="assets/primeng-logo.png">
              <h1 class="pt-1">Prime-NG</h1>
            </div>
          </mat-card-content>

        </mat-card>
      </div>
      <div class="col-xs-12 col-md-3">
        <mat-card [style.height.px]="150">
          <mat-card-content>
            <div class="flex-column middle-xs pt-1 between-xs mb-2 center-xs">
              <img [style.width.px]="" class="icon-1" src="assets/nebular.png">
              <h1 class="pt-1">Nebular</h1>
            </div>
          </mat-card-content>

        </mat-card>
      </div>

      <div class="col-xs-12 col-md-3">
        <mat-card [style.height.px]="150">
          <mat-card-content>
            <div class="flex-column middle-xs pt-1 between-xs mb-2 center-xs">
              <img [style.width.px]="" class="icon-1" src="assets/rxjs.png">
              <h1 class="pt-1">RxJs</h1>
            </div>
          </mat-card-content>

        </mat-card>
      </div>

      <div class="col-xs-12 col-md-3">
        <mat-card [style.height.px]="150">
          <mat-card-content>
            <div class="flex-column middle-xs pt-1 between-xs mb-2 center-xs">
              <img class="icon-1" src="assets/vs.png">
              <h1 class="pt-1">Visual Code</h1>
            </div>
          </mat-card-content>

        </mat-card>
      </div>


    </div>

    <div class="row center-xs mt-5 mb-2 animate__animated animate__slideInDown animate__infinite	infinite">
       <span class="material-symbols-outlined">
        keyboard_double_arrow_down
      </span>
    </div>

    <div data-aos="fade-down" class="row mt-1">
      <div class="col-xs-12 col-md-8">
        <mat-card  [style.height.px]="250">
          <mat-card-content  [style.padding.rem]="3">
            <div class="row bottom-xs gap-1 mb-2">
              <img class="icon-1" src="assets/ngrx.svg">
              <h1>Redux</h1>
            </div>

            <div class="row">
              <div class="col-xs">
                <h2>Google</h2>
                <h1 class="strong"> {{ googleStock | currency}} </h1>
              </div>
              <div class="col-xs">
                <h2>Apple</h2>
                <h1 class="strong"> {{ appleStock | currency}} </h1>
              </div>
              <div class="col-xs">
                <h2>Microsoft</h2>
                <h1 class="strong"> {{ microsoftStock | currency}} </h1>
              </div>
              <div class="col-xs">
                <label>Currency</label>
                <mat-form-field appearance="outline">
                  <mat-select (selectionChange)="onCurrencyChange($event)" [(value)]="selectedCurrency">
                    <mat-option *ngFor="let currency of currencies" [value]="currency.value">
                      {{currency.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

          </mat-card-content>

        </mat-card>
      </div>

      <div class="col-xs-12 col-md-4">
        <mat-card [style.height.px]="250">
          <mat-card-content [style.padding.rem]="3">
            <div class="row bottom-xs gap-1 mb-2">
              <img class="icon-translate" src="assets/translate.png">
            </div>

            <div>
              <mat-button-toggle-group [(ngModel)]="selectedLang" name="icons">
                <mat-button-toggle (change)="onToggleChange($event)" value="en">
                  <img src="assets/icons8-usa-48.png" alt="Star" />
                </mat-button-toggle>
                <mat-button-toggle value="es" (change)="onToggleChange($event)">
                  <img src="assets/icons8-spain-48.png" alt="Heart" />
                </mat-button-toggle>
              </mat-button-toggle-group>
              <h1 class="mt-1">{{ 'hello-world' | translate }}</h1>
            </div>

          </mat-card-content>
        </mat-card>
      </div>

    </div>

    <div data-aos="fade-up" class="row mt-1 mb-2">
      <div class="col-xs-12">
        <mat-card [style.padding.rem]="3">
          <mat-card-content>
            <div class="row bottom-xs gap-1 mb-2">
              <img class="icon-1" src="assets/chartjs-logo.svg">
              <h1>ChartJS</h1>
            </div>

            <div class="row">
              <div class="col-xs-6">
                <canvas
                  baseChart
                  class="chart"
                  [data]="barChartData"
                  [type]="'bar'"
                >
                </canvas>
              </div>
              <div class="col-xs-6">
                <canvas

                  baseChart
                  class="chart"
                  [data]="pieChartData"
                  [options]="pieChartOptions"
                  [type]="'pie'"
                >
                </canvas>
              </div>

            </div>


          </mat-card-content>

        </mat-card>
      </div>
    </div>


</div>




